Django==1.11.4
django-annoying==0.10.3
django-braces==1.11.0
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.0.8
django-scheduler==0.8.6.1
django-secrets==0.2.4
django-summernote==0.8.7.3
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
