{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <title>오소리 레벨 미터기</title>
</head>
<body>
    <h1>경험치 요청하기 : {{user}} </h1>
    <form method="post" class="form-horizontal" action="/exp_request/">{% csrf_token %}


        <div>경험치 목록 :
            <input class="form-control" type="text" list="options" name="option">
                <datalist id="options">
                    <option value="Room_Visit"></option>
                    <option value="Event_Visit"></option>
                    <option value="Contribution"></option>
                </datalist>
        </div>
        <div>이유 :
            <input type="text" name="spec">
        </div>
        <button type="submit" class="btn btn-primary">요청</button>
    </form>
</body>
</html>