body {
  margin: 0px;
}

#left {
  position : relative;
  width : 50%;
  float : left;
  height : 800px;
  margin : 0;
}

#right {
  position : relative;
  width : 50%;
  float : right;
  height : 800px;
  margin : 0;
}

#signin_real {
  position : relative;
  width : 20%;
  top : 200px;
  left : 140px;
}

#signin_pwdreal {
  position : relative;
  width : 20%;
  top : 230px;
  left : 140px;
}

#signin_id li {
  position : relative;
  width : 20%;
  top : 190px;
  left : 140px;
}

#signin_pwd li {
  position : relative;
  width : 20%;
  top : 220px;
  left : 140px;
}

#signin_button {
  position : relative;
  width : 10%;
  height : 3%;
  top : 250px;
  left : 140px;
}
